.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Welcome{
  filter: blur(1px);
  -webkit-filter: blur(1px);
  border-radius: 2%;
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 25%;
  margin-left: -12.5%; /* Negative half of width. */
  font-size: 20%; /*calc(10px + 1vmin */
  color: white;
}

h1 {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.welcome-button {
  position: absolute;
  background-color: #FFFFFF;
  color: #686868;
  font-size: 0.8em;
  font-weight: 200;
  border: 0;
  border-radius: 5px;
  margin: 0.8% 1.5%;
  text-decoration: none;
}

.background-image {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}