.App {
  text-align: center;
}

.Welcome{
  background-image: linear-gradient(135deg, #85FFBD 0%, #FFFB7D 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Gen-button {
  background-color: #FFFFFF;
  color: #686868;
  font-size: 0.8em;
  font-weight: 200;
  border: 0;
  border-radius: 5px;
  padding: 0.8% 1.5%;
  text-decoration: none;
}

.Generate-main {
  min-height: 80vh;
  padding: 10vh 6vh;
  display: flex;
  
  
}

.Generate-content {
  
}

.Generate-card {
  flex: 1;
  
}


 .blue{
  background-color: #234567;
 }

 .green {
    background-color: #85FFBD;
 }